<div class="container text-center mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1>Welcome to the dashboard user!</h1>
            <%= link_to "Start using Read-It", home_index_path, class: "btn btn-outline-dark" %>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>