<div class="container text-center fixed-bottom">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <p class="text-muted">© Tim Jevšenak</p>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>