<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="login.php"><button class="btn btn-sm btn-secondary my-2 my-sm-0 text-light">Sign In</button></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="register.php"><button class="btn btn-sm btn-light my-2 my-sm-0">Sign Up</button></a>
    </li>
</ul>